.site-footer { 
  background: $jet; 
  color:white;
  padding-top:3em;
  padding-bottom:3em;
  
  .row { position:relative; }

  .footer-logo {
    height:150px;
    width:150px;
    position:absolute;
    right:0;
    top:-123px;
  }

  li { color:white; font-size:.85em; font-style:italic; margin-left:.5em;}
  a { color:white; }
}