.gear-floater {
  float:left;
  border:2px solid $gold;
  background:$ghost;
  width:300px;
  height:auto;
  margin-top:.5em;
  margin-right:2em;
  margin-left:-10em;
  margin-bottom:.5em;
  padding:1em;

   @media #{$small-only}, #{$medium-only}{
    float:none; 
    width:100%;
    max-width:300px;
    margin-bottom:2em;
    margin-left:0px;
  }

  img {
    height:150px;
  }

  p{
    font-size:.95em;
    line-height:1.75em;
    margin-bottom:.75em;
  }
  .button{
    margin-bottom:0;
  }
}