//Base Style Modifications

h5 { font-weight:bold; }
p { 
  // font-size:1.15em;
  line-height:2em;
 }

@media #{$large-up} {
  ol {display:inline-block;}
  ol li {font-size:1.25em; padding-bottom:.25em; margin-left:.5em; text-align:left;}
}

img { 
  display:block; 
  margin-bottom:1em;
}

blockquote {
  float:left;
  margin-right:10px;
  margin-left:-150px;
  width:400px;
  height:auto;
  font-size:2em;
  font-weight:bold;
  font-style:italic;
}

.button {
  color:$gold;
  background:white;
  border:1px solid $gold;
}

.inner-container {
  max-width:45em;
  margin:0 auto;
  padding:1em;
}

.section-title {
  text-align:center;
  margin-bottom:3em;

  &:after {
    content:'';
    // position:absolute;
    display:inline-block;
    width:80px;
    border-bottom:2px solid $gold;
  }

  h3 {
    color:$gold;
    font-weight:bold;
    font-style:italic;
    font-family:$font-family-serif;
    margin-bottom:.05em;
  }
  
  h5 {
    font-weight:bold;
    text-transform:uppercase;
    font-size:.85em;
  }
}

.subscribe-form {



  form {
    text-align:center;
    position:relative;
    min-height:3em;
  }

  input {
    border:1px solid $gold;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    font-size:1em;
    font-family:$font-family-serif;
    width:100%;
    padding-top:.625rem;
    padding-bottom:.6875rem;
    padding-left:1.25rem;
    position:absolute;
    left:0;
  }

  .button {
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    margin-bottom:0;
    position:absolute;
    right:0;
  }

  @media #{$small-only} { 

    input,
    .button {
      position:relative;
      margin-bottom:.5em;
      padding-left:1em;
      padding-right:1em;
    }
    
  }

}

.dropcap {
  float:left;
  font-size:5em;
  line-height:.5em;
  margin-right:10px;
  padding-top:.15em;
}

figcaption {
  font-size:.75em;
  font-style:italic;
}

.button.tiny { font-size:1em;}


//Media Object pattern floats an image to one side and copy to another
.media-object { margin:10px; }

.media-object, .bd { 
  // Clears all floats - its magic 
  overflow:hidden; 
  _overflow:visible; 
  zoom:1; 
}
.media-object .img { 
  float:left; 
  margin-right: 1em; 

  @media #{$small-only} { 
    float:none;
    display:block;
  }
}
.media-object .imgExt {float:right; margin-left: 10px;}

// Helpers
.center { 
  text-align:center; 
  @media #{$small-only} { text-align:left; }
}
.uppercase { text-transform:uppercase; }
.pad { padding: 0 1em; }
.white { color:white; }
.gold { color:$gold; }
.serif { font-family:$font-family-serif; }
.left { float:left; }
.tablet-up { 
  @media #{$small-only} {
    display:none;
  }
}
.mobile-only { 
  display:none;
  @media #{$small-only} {
    display:block;
  }
}
// .right { float:right; }