//Base Style Modifications

img { 
  display:block; 
  margin-bottom:1em;
  width:100%;
  height:auto;
}



.button {
  color:$gold;
  background:white;
  border:1px solid $gold;
}

.button.tiny { font-size:1em;}


.inner-container {
  max-width:45em;
  margin:0 auto;
  padding:1em;
}

.section-title {
  text-align:center;
  margin-bottom:3em;

  &:after {
    content:'';
    // position:absolute;
    display:inline-block;
    width:80px;
    border-bottom:2px solid $gold;
  }

  h3 {
    color:$gold;
    font-weight:bold;
    font-style:italic;
    font-family:$font-family-serif;
    margin-bottom:.05em;
  }
  
  h5 {
    font-weight:bold;
    text-transform:uppercase;
    font-size:.85em;
  }
}

input {
  &:focus { outline: none; }
}

::-webkit-input-placeholder,
  :-moz-placeholder,          
  ::-moz-placeholder,         
  :-ms-input-placeholder {color:$ghost;}


.button.tiny { font-size:1em;}

.dropcap {
  float:left;
  font-size:5em;
  line-height:.5em;
  margin-right:10px;
  padding-top:.15em;
}

figcaption {
  font-size:.75em;
  font-style:italic;
}


//Media Object pattern floats an image to one side and copy to another
.media-object { margin:10px; }

.media-object, .bd { 
  // Clears all floats - its magic 
  overflow:hidden; 
  _overflow:visible; 
  zoom:1; 
}
.media-object .img { 
  float:left; 
  margin-right: 1em; 

  @media #{$small-only} { 
    margin-right:.25em;
  }
}
.media-object .imgExt { float:right; margin-left: 10px; }

// Helpers

.center { 
  text-align:center; 
  @media #{$small-only} { text-align:left; }
}

.right { @media #{$small-only} { float:none; } }
.left { float:left; }
.uppercase { text-transform:uppercase; }
.pad { padding: 0 1em; }
.white { color:white; }
.gold { color:$gold; }
.serif { font-family:$font-family-serif; }
.left { float:left; }
.tablet-up, #tablet-up { @media #{$small-only} { display:none; } }
.mobile-only { 
  display:none;
  @media #{$small-only} { display:block; }
}
