.sample-text {
  font-size:1.5em;
  font-family:$font-family-sans-serif;
  text-transform:uppercase;
  font-weight:bold;
  font-style:italic;
  position:relative;
}

.sample-text-issue {
  position:relative;
  top:8px;
}