//Hero Section

.hero {
  height:650px;
  // height:100vh;
  background-size:cover;
  background-position:bottom;
  position:relative;
  overflow:hidden;
  @media #{$small-only} { height: 500px;}

}

.feature-description {
  position:absolute;
  width:100%;
  bottom:50px;
  left:0;

  h1 {
    color:white;
    max-width:15em;
    font-size:4.5em;
    font-size:5vw;
    font-family:serif;
    line-height:1.25em;
    margin-bottom:.25em;

    @media #{$small-only} { font-size: 2.75em;}
    @media #{$medium-only} { font-size: 3.75em;}

    a:hover{ color:white; }
  }

  p {color: white; max-width:70em;}

  .button {
    border-color:white;
    background:transparent;
    color:white;

    &:hover{
      background:white;
      color:$gold;
    }
  }
}

.field-notes { 
  padding-top:3em;
  padding-bottom:3em;
}

//Brand Activation Featurettes 

.bav-image {
  width:25%;
  height:auto;
  margin:0;
  float:left;
  position:relative;
  @media #{$medium-only},#{$small-only} { width:50%; }

  &:hover .overlay { 
    opacity:1;
    @include transition(opacity .25s ease-in-out);
  }
  
  &:hover .description-inner { 
    @include transform(translateY(-10px)); 
    @include transition(transform .25s ease-in-out);
  }

  img {
    width:100%;
    height:100%;
    display:block;
    margin-bottom:0px;
  }

  .overlay {
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    opacity:.6;
    @include background-image(linear-gradient( rgba(0,0,0,0) 0, rgba(0,0,0,.8) 100%));
    @include transition(opacity .25s ease-in-out);
  }
  
}

.bav-description {
  border:2px solid rgba(255,255,255,.2);
  width:90%;
  height:90%;
  z-index:2;
  @include center-element;

  .description-inner {
    position:absolute;
    bottom:20px;
    left:20px;
    padding:10px;
    @include transition(all .25s ease-in-out);

    @media #{$small-only} { left:10px; }
  }

  h5 {
    color:white;
    
  }

  p {
    color:white;
    font-size:.85em;
    @media #{$small-only} { display:none; }
  }
}

//Outbound Links Section

.outbound-links { 
  padding-top:3em;
  border-top:3px solid $gold;
  border-bottom:3px solid $gold;
}

.outbound-links .media-object {
  display:block;
  margin:0;

  .link { display:block; color:#222; border-top:2px solid $gold;}
  .link.first { background:rgba(203, 203, 203, .2);}
  .link.first:hover { background:rgba(203, 203, 203, .3);}
  .link.second { background:rgba(203, 203, 203, .4);}
  .link.second:hover { background:rgba(203, 203, 203, .5);}
  .link.third { background:rgba(203, 203, 203, .6);}
  .link.third:hover { background:rgba(203, 203, 203, .7);}
  .link.fourth { background:rgba(203, 203, 203, .8);}
  .link.fourth:hover { background:rgba(203, 203, 203, .9);}

  .bd {

    @media #{$small-only}{
      border-left:0px;
      padding-top:1em;
    }
    
  }

  p { margin-bottom:.25em;}

}


