//Hero Section

.hero {
  height:650px;
  // height:100vh;
  background-size:cover;
  background-position:bottom;
  position:relative;
  overflow:hidden;
  @media #{$small-only} { height: 500px;}

}

.feature-description {
  position:absolute;
  width:100%;
  bottom:50px;
  left:0;

  h1 {
    max-width:10em;

    @media #{$small-only} { font-size: 2.75em;}
    @media #{$medium-only} { font-size: 3.75em;}

    a:hover{ color:white; }
  }

  p {color: white; max-width:70em;}

  .button {
    border-color:white;
    background:transparent;
    color:white;

    &:hover{
      background:white;
      color:$gold;
    }
  }
}

.field-notes { 
  padding-top:3em;
  padding-bottom:3em;
}

.secondary-article {
  border-bottom:1px solid $silver;
  padding-bottom:2em;
  margin-bottom:3em;

  &:last-child { border-bottom:0px; margin-bottom:0;}

  a {
    color:$jet;

    &:hover p {opacity:.8;}
  }
}



//Brand Activation Featurettes 
// .bav-list { margin-bottom:6rem; }
.bav-image {
  width:25%;
  height:auto;
  margin:0;
  float:left;
  position:relative;
  @media #{$medium-only},#{$small-only} { width:50%; }

  &:hover .overlay { 
    opacity:1;
    @include transition(opacity .25s ease-in-out);
  }
  
  &:hover .description-inner { 
    @include transform(translateY(-20%)); 
    @include transition(transform .25s ease-in-out);
  }

  img {
    width:100%;
    height:100%;
    display:block;
    margin-bottom:0px;
  }

  .overlay {
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    opacity:.6;
    @include background-image(linear-gradient( rgba(0,0,0,0) 0, rgba(0,0,0,.8) 100%));
    @include transition(opacity .25s ease-in-out);
  }
  
}

.bav-description {
  border:2px solid rgba(255,255,255,.2);
  width:90%;
  height:90%;
  z-index:2;
  @include center-element;

  .description-inner {
    position:absolute;
    bottom:-10px;
    left:10px;
    padding:10px;
    @include transition(all .25s ease-in-out);

    @media #{$small-only} { left:10px; }
  }

  h5 {
    color:white;
    
  }

  p {
    color:white;
    font-size:.75em;
    font-style:italic;
    @media #{$small-only} { display:none; }
  }
}


//Outbound Links Section
.outbound-links { padding-top:4em; background:$silver;}

.outbound-links article {
  padding-bottom:2em;
  margin-bottom:2em;
  border-bottom:1px solid $gold;
  vertical-align:top;

  &:last-child { border-bottom:0px; }

  .bd { padding-left:1em; }

  img {
    position:relative;
    top:10px;
    height:50px;
    width:50px;
    border:1px solid $gold;
    padding:5px;
  }

  p { margin-bottom:.25em;}

}

.outbound-links article:first-child { margin-top:0px; }


